<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Registrar_producto</servlet-name>
		<servlet-class>jdeyby.Registrar_producto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrar_producto</servlet-name>
		<url-pattern>/registrar_producto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Borrar_usuario</servlet-name>
		<servlet-class>jdeyby.Borrar_usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Borrar_usuario</servlet-name>
		<url-pattern>/borrar_usuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Modificar_usuario</servlet-name>
		<servlet-class>jdeyby.Modificar_usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Modificar_usuario</servlet-name>
		<url-pattern>/modificar_usuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registrar_usuario</servlet-name>
		<servlet-class>jdeyby.Registrar_usuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrar_usuario</servlet-name>
		<url-pattern>/registrar_usuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>jdeyby.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Redireccionar</servlet-name>
		<servlet-class>jdeyby.Redireccionar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Redireccionar</servlet-name>
		<url-pattern>/redireccionar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
