/*
	Author : Juandeyby
	EPIS-UNSA
*/

body {
	background-color: white;
}

#formulario {
	margin-top : 150px;
	margin-left : auto;
	margin-right : auto;
	width : 400px;
	height : 300px;
	background-color: #44b2ea;
	border-style: solid;
    border-color: #2a779e;
    border-radius: 5px;
}

#in_sesion {
	margin-top : 30px;
	margin-right : auto;
	margin-left : auto;
	text-align : center;
	font-family : Courier New;
	font-size : 30px;
	padding-bottom: 30px;
}

.form {
	margin-bottom : 20px;
	margin-left : 15px;
	font-family : Courier New;
	font-size : 18px;
}