/*
	Author : Juandeyby
	EPIS-UNSA
*/
@CHARSET "UTF-8";
body {
	background-color: white;
}

.sub_principal {
    width : 800px;
    height : 500px;
}

.sub_titulo {
	margin-top : 30px;
	margin-left : 30px;
	font-family : Courier New;
	font-size : 30px;
}

#registrar_usuario, #modificar_usuario, #borrar_usuario {
	margin-top : 30px;
	margin-left : 30px;
}

.label {
	font-family : Courier New;
	font-size : 15px;
}

.caja {
	size : 200 px;
	margin-bottom : 10px;
}

#registrar_usuario_accion, #modificar_usuario_accion, #borrar_usuario_accion {
	size : 200 px;
	font-family : Courier New;
	font-size : 20px;
}