/*
	Author : Juandeyby
	EPIS-UNSA
*/
@CHARSET "UTF-8";
body {
	background-color: white;
}

.sub_principal {
    width : 800px;
    height : 500px;
}

.sub_titulo {
	margin-top : 30px;
	margin-left : 30px;
	font-family : Courier New;
	font-size : 30px;
}

#registrar_usuario, #modificar_usuario, #borrar_usuario {
	margin-top : 30px;
	margin-left : 30px;
}

.label {
	font-family : Courier New;
	font-size : 15px;
}

#cabezera {
	font-family : Courier New;
	font-size : 15px;
	margin-top : 30px;
	margin-left : 30px;
}

.caja {
	size : 200 px;
	margin-bottom : 10px;
}

#registrar_usuario_accion, #modificar_usuario_accion, #borrar_usuario_accion,
#registrar_producto {
	border : 5px;
	width : 250px;
	size : 200 px;
	text-align : center;
	font-family : Courier New;
	font-size : 20px;
	background-color: #2a779e;
}

#registrar_usuario_accion:hover, #modificar_usuario_accion:hover, #borrar_usuario_accion:hover {
	cursor : default;
    background-color: #44b2ea;
    color : #0b4687;
}